.striker {
    text-decoration: line-through;
}

a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    color: gray;
    transition: all 500ms;
}

a :hover {
    font-size: 2rem;
    
}

body {
    animation: myanimation 25s infinite;
    transition: 10ms;
}

@keyframes myanimation {
    0% {background-color:   #c1cefe;}
    10% {background-color:  #B0FE76;}
    30%{background-color:   #ffc857 ;}
    50% {background-color:  #F6AE2D;}
    70% {background-color:  #fcbfb7;}
    90% {background-color:  #ededed;}
    100% {background-color: #c1cefe;}
  }